hola quienes somos index

<a href="/quienes_somos/la_empresa">Ir a La empresa</a>
<a href="/quienes_somos/historia">Ir a Historia</a>
<a href="/quienes_somos/infraestructura">Ir a Infraestructura</a>
<a href="/quienes_somos/donde_estamos">Ir a Dónde estamos</a>


<div class="container">
	<div class="row">
		<div class="span8">
			aqui va el 8
		</div>
		<div class="span4">
			aqui va el 4
		</div>
	</div>
</div>

