<div class="degradeNegro row-fluid">
	<div class="offset1 span5">
		<div class="subseccionFooter">
			<p>Dirección planta: Km 3 vía la fábrica - zona rural,</p>
			<p>Samacá (Boyacá) - Colombia</p>
			<p>Tel: (+57) 311 521 9851 - (+57) 313 867 8598</p>
			<p>eMail: pedroafranco@francoal.com.co</p>
		</div>
	</div>
	<div class="span6">
		<div class="subseccionFooter">
			<p>Dirección oficina: Calle 25B n.º 40-51, Of. SO-01</p>
			<p>Barrio Quinta Paredes, Bogotá D.C. - Colombia</p>
			<p>Tel: (+57) 313 834 6996 - (+57) 1 811 2844</p>
			<p>eMail: andreafranco@hotmail.com.co</p>
		</div>
	</div>
</div>